:root {

/* Colors */
	--color-primary: #0D0C1D;
	--color-secondary: #F1F7F5;
	--color-accent: #DA4167;
	--color-accent-1: #9AD1FF;
	--color-accent-2: #474973;
	

/* Font size */
	--font-size-base: 16px;
	--font-size-m: 1rem;
	--font-size-l: 3rem;

/* Margin */
--margin-section: 2rem;
}